<div class="moment" *ngIf="moment">
  <h1>{{ moment.title }}</h1>
  <img src="{{baseUrl}}/uploads/{{moment.image}}" alt="{{moment.title}}">
  <div class="about-moment">
    <h3>Sobre esse momento:</h3>
    <p>{{ moment.description }}</p>
  </div>
  <div class="actions">
    <h3>Ações</h3>
    <a routerLink="/moments/edit/{{moment.id}}" class="edit-btn">
      <fa-icon [icon]="faEdit"></fa-icon>
      Editar
    </a>
    <button class="remove-btn" (click)="removeHandler(moment.id!)">
      <fa-icon [icon]="faTimes"></fa-icon>
      Excluir
    </button>
  </div>
  <!--Comentários-->
  <div class="comments">
    <h2>Comentários ({{ moment.comments?.length }}):</h2>
  </div>
  <div class="comment-form">
    <h3>Deixe seu comentário:</h3>
    <div class="input-container">
      <label>Nome:</label>
      <input placeholder="Seu nome" required>
    </div>
    <div class="input-container">
      <label>Comentário:</label>
      <textarea placeholder="O que você quer comentar?" required></textarea>
    </div>
    <input type="submit">
  </div>
  <div *ngIf="moment.comments!.length > 0 else noComments">
    <div class="comment-container" *ngFor="let comment of moment.comments">
      <p class="comment">{{ comment.text }}</p>
      <p class="author"><span>por: </span>{{ comment.username }}</p>
    </div>
  </div>
  <ng-template #noComments>
    <p>Não há comentários</p>
  </ng-template>
</div>
